[submodule "skills/sankhya-addon-sdk2"]
	path = skills/sankhya-addon-sdk2
	url = git@github.com:GRUPO-GET/sankhya-addon-sdk2.git
[submodule "external/addon-studio"]
	path = external/addon-studio
	url = https://github.com/snk-devcenter/addon-studio.git
